
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>{{ object.title }}</h2>
  <p class="text-muted">By {{ object.author }} | Views: {{ object.views_count }}</p>
  <hr>
  <p>{{ object.content }}</p>

  {% if user == object.author %}
    <a href="{% url 'blog-update' object.pk %}" class="btn btn-warning">✏ Edit</a>
    <a href="{% url 'blog-delete' object.pk %}" class="btn btn-danger">🗑 Delete</a>
  {% endif %}

  <hr>
  <h5>👀 Viewed by:</h5>
  <ul>
    {% for view in object.views.all %}
      <li>{{ view.user.username }} ({{ view.viewed_at|date:"M d, Y H:i" }})</li>
    {% empty %}
      <li>No one has viewed this blog yet.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'blog-list' %}" class="btn btn-secondary mt-3">⬅ Back to Blogs</a>
</div>
{% endblock %}