{% extends "layout.html" %}

{# think about the variables u want to replace #}
{# differentiation b/w blocks will be upon their name #}

{% block title %} {# name of block must be same as in main page #}
    Home page
{% endblock %}

{% block content %} {# name of block must be same as in main page #}
    <h1>chai aur code home page</h1>
{% endblock %}




{% comment %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Proj 1</title>
    <!-- <link rel="stylesheet" href="../../static/style.css"> -->
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>
<body>
    <h1>helloooo, kesee ho</h1>
</body>
</html> 
{% endcomment %}